<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/static/styles-error.css">
    <link rel="icon" href="/image/bulb.png">
    <title>Error page</title>
</head>

<body>
    <div class = "container">
        <div class="parent">
            <div class="child">
                <p> Error {{.}}</p>
               
            </div>  
            <div class="child1">Go back 
                <a href="/" class="link">Home</a>
                </div>
           </div>
    </div>
</body>
</html>